repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
    - id: check-yaml
    - id: check-added-large-files

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.15.1
  hooks:
    - id: ruff-check
      args: ["--fix"]
    - id: ruff-format

# Optional, if you want to challenge your code with mypy
# - repo: https://github.com/pre-commit/mirrors-mypy
#   rev: v1.18.2
#   hooks:
#     - id: mypy
#       args: [".", "--show-error-codes", "--no-pretty"]
#       pass_filenames: false
#       additional_dependencies:
#         - pydantic>=2
#         - typing-extensions>=4.12
